In [1]:
# Load libraries
import numpy as np
import pandas as pd

In [2]:
# read in the data
runs_df = pd.read_csv("../runs.csv")

In [3]:
# pandas info function to get data types, number of non-null entries
runs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79447 entries, 0 to 79446
Data columns (total 37 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   race_id          79447 non-null  int64
 1   horse_no         79447 non-null  int64
 2   horse_id         79447 non-null  int64
 3   result           79447 non-null  int64
 4   won              79447 non-null  float64
 5   lengths_behind   79447 non-null  float64
 6   horse_age        79447 non-null  int64
 7   horse_country    79445 non-null  object
 8   horse_type       79445 non-null  object
 9   horse_rating     79447 non-null  int64
 10  horse_gear       79447 non-null  object
 11  declared_weight  79447 non-null  float64
 12  actual_weight    79447 non-null  int64
 13  draw             79447 non-null  int64
 14  position_sec1    79447 non-null  int64
 15  position_sec2    79447 non-null  int64
 16  position_sec3    79447 non-null  int64
 17  position_sec4    46226 non-null  float64
 18  position_sec5    10079 non-null  float64
 19  position_sec6    1296 non-null   float64
 20  behind_sec1      79447 non-null  float64
 21  behind_sec2      79447 non-null  float64
 22  behind_sec3      79447 non-null  float64
 23  behind_sec4      46226 non-null  float64
 24  behind_sec5      10079 non-null  float64
 25  behind_sec6      1296 non-null   float64
 26  time1            79447 non-null  float64
 27  time2            79447 non-null  float64
 28  time3            79447 non-null  float64
 29  time4            46226 non-null  float64
 30  time5            10079 non-null  float64
 31  time6            1296 non-null   float64
 32  finish_time      79447 non-null  float64
 33  win_odds         79447 non-null  float64
 34  place_odds       75712 non-null  float64
 35  trainer_id       79447 non-null  int64
 36  jockey_id        79447 non-null  int64
dtypes: float64(21), int64(13), object(3)
memory usage: 22.4+ MB

In [4]:
# List percent of null entries per feature
runs_df.isna().sum() * 100 / len(runs_df)

race_id             0.000000
horse_no            0.000000
horse_id            0.000000
result              0.000000
won                 0.000000
lengths_behind      0.000000
horse_age           0.000000
horse_country       0.002517
horse_type          0.002517
horse_rating        0.000000
horse_gear          0.000000
declared_weight     0.000000
actual_weight       0.000000
draw                0.000000
position_sec1       0.000000
position_sec2       0.000000
position_sec3       0.000000
position_sec4      41.815298
position_sec5      87.313555
position_sec6      98.368724
behind_sec1         0.000000
behind_sec2         0.000000
behind_sec3         0.000000
behind_sec4        41.815298
behind_sec5        87.313555
behind_sec6        98.368724
time1               0.000000
time2               0.000000
time3               0.000000
time4              41.815298
time5              87.313555
time6              98.368724
finish_time         0.000000
win_odds            0.000000
place_odds          4.701247
trainer_id          0.000000
jockey_id           0.000000
dtype: float64

In [5]:
# Drop features with > 40% null, they're not very useful
runs_clean_df = runs_df.drop(['position_sec4', 'position_sec5', 'position_sec6','behind_sec4', 'behind_sec5', 'behind_sec6','time4', 'time5', 'time6'], axis = 1)

In [6]:
# Drop the two entries with null in horse_country
runs_clean_df = runs_clean_df[runs_clean_df['horse_country'].notna()]

In [7]:
# Check current status
## There are still 3735 (~4%) entries with missing Odds
## This is probably an important feature so we don't want to delete
runs_clean_df.isna().sum()

race_id               0
horse_no              0
horse_id              0
result                0
won                   0
lengths_behind        0
horse_age             0
horse_country         0
horse_type            0
horse_rating          0
horse_gear            0
declared_weight       0
actual_weight         0
draw                  0
position_sec1         0
position_sec2         0
position_sec3         0
behind_sec1           0
behind_sec2           0
behind_sec3           0
time1                 0
time2                 0
time3                 0
finish_time           0
win_odds              0
place_odds         3735
trainer_id            0
jockey_id             0
dtype: int64

In [8]:
# Impute the place_odds with the mean value
runs_clean_df['place_odds'].fillna(value=(runs_clean_df['place_odds'].mean()), inplace=True)

In [9]:
# Recheck missing values
## Non-Null is now 79445 for all features
runs_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79445 entries, 0 to 79446
Data columns (total 28 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   race_id          79445 non-null  int64
 1   horse_no         79445 non-null  int64
 2   horse_id         79445 non-null  int64
 3   result           79445 non-null  int64
 4   won              79445 non-null  float64
 5   lengths_behind   79445 non-null  float64
 6   horse_age        79445 non-null  int64
 7   horse_country    79445 non-null  object
 8   horse_type       79445 non-null  object
 9   horse_rating     79445 non-null  int64
 10  horse_gear       79445 non-null  object
 11  declared_weight  79445 non-null  float64
 12  actual_weight    79445 non-null  int64
 13  draw             79445 non-null  int64
 14  position_sec1    79445 non-null  int64
 15  position_sec2    79445 non-null  int64
 16  position_sec3    79445 non-null  int64
 17  behind_sec1      79445 non-null  float64
 18  behind_sec2      79445 non-null  float64
 19  behind_sec3      79445 non-null  float64
 20  time1            79445 non-null  float64
 21  time2            79445 non-null  float64
 22  time3            79445 non-null  float64
 23  finish_time      79445 non-null  float64
 24  win_odds         79445 non-null  float64
 25  place_odds       79445 non-null  float64
 26  trainer_id       79445 non-null  int64
 27  jockey_id        79445 non-null  int64
dtypes: float64(12), int64(13), object(3)
memory usage: 17.6+ MB

In [11]:
# The data set is now clean and ready to be explored
runs_clean_df.to_csv("../runs_clean.csv")

AttributeError: module 'pandas' has no attribute 'to_csv'